<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.idler.my.shop.web.api.dao.TbContentDao">
    <sql id="tbContentColumns">
        a.id,
        a.category_id as categoryId,
        a.title,
        a.sub_title as subTitle,
        a.title_desc as titleDesc,
        a.url,
        a.pic,
        a.pic2,
        a.content,
        a.created,
        a.updated,
        b.id as "tbContentCategory.id",
        b.name as "tbContentCategory.name"
    </sql>

    <sql id="tbContentJoins">
        left join tb_content_category as b on a.category_id = b.id
    </sql>

    <select id="selectByCategoryId" resultType="TbContent">
        select
        <include refid="tbContentColumns"/>
        from
        tb_content as a
        <include refid="tbContentJoins"/>
        where
        a.category_id = #{tbContentCategory.id}
    </select>
</mapper>